<amplify-authenticator [loginMechanisms]="['email']" [formFields]="formFields" [signUpAttributes]="['name']" [hideSignUp]="true" (authStateChange)="onAuthStateChange($event)">
  <ng-template amplifySlot="verify-user-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="verify-user-footer">
    <div>Footer Information</div>
  </ng-template>
  <ng-template amplifySlot="confirm-verify-user-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="confirm-verify-user-footer">
    <div>Footer Information</div>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-corpo-login></app-corpo-login>
  </ng-template>

  <ng-template amplifySlot="unauthenticated">
    <p>Por favor, faça login para acessar o conteúdo.</p>
  </ng-template>
</amplify-authenticator>
